%h2 Books

%table{:class => 'books'}
  %tbody
    %tr
      %th Category
      %th Author
      %th Title
      %th Description
      %th Publish date

    - @books.each do |book|
      %tr{:id => "book_#{book.id}"}
        %td= book.category.name
        %td= book.author
        %td= book.title
        %td= book.description
        %td= book.publish_date
        %td
          = link_to 'Show', book_path(book)
          = link_to 'Edit', edit_book_path(book)
          = link_to 'Destroy', book_path(book), :method => 'delete'
