%p
  %b Category:
  = @book.category.name

%p
  %b Author:
  = @book.author

%p
  %b Title:
  = @book.title

%p
  %b Description:
  = @book.description

%p
  %b Publish date:
  = @book.publish_date

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
